.main_container {
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 2.25em 2em;
  width: 25.02em;
  height: 8.9em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.progress_bar {
  position: relative;
  height: 6px;
  background-color: #f2f2f2;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}

.progress_bar .progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2f80ed;
  border-radius: inherit;
  width: 0%;
  animation: animate 1s ease-in-out infinite;
}

@keyframes animate {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 100%;
    left: 100%;
  }
}

@media screen and (max-width: 420px) {
  .main_container {
    width: 23.02em;
    padding: 2em 1.5em;
  }
}

@media screen and (max-width: 380px) {
  .main_container {
    width: 21.02em;
  }
}
